---
const { cedula } = Astro.params;
import Layout from "../../../layouts/Layout.astro";
import NavigationList from "../../../components/navigation-list.astro";

const result = await fetch(`http://localhost:4321/api/pacient-search.json?cedula=${cedula}`);

const { data } = await result.json();
const isOk = result.ok

let fechaFormateada

if (isOk) {
  const fechaNacimiento = new Date(data.fecha_nacimiento);
  fechaFormateada = `${fechaNacimiento.getFullYear()}-${(fechaNacimiento.getMonth() + 1).toString().padStart(2, '0')}-${fechaNacimiento.getDate().toString().padStart(2, '0')}`;
}
---

<Layout title="Editar Paciente">
  <main class="flex flex-col justify-center items-center">
    <h1 class="text-center text-4xl font-bold mt-20">Editar Paciente: {cedula}</h1>
    <NavigationList />

    {
      isOk
        ? (
          <div class="text-white">
            <form id="patientForm" class="w-[1500px] flex flex-col justify-center items-center">
              <div class="w-[20%]">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                  Nombre del Paciente:
                </label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                  value={data.nombre}
                  required
                />
              </div>

              <div class="w-[20%]">
                <label for="surname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido del
                  Paciente:</label>
                <input type="text" id="surname" name="surname"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       value={data.apellido}
                       required/>
              </div>

              <div class="w-[20%]">
                <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cedula del
                  Paciente:</label>
                <input type="text" id="dni" name="dni"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       value={data.cedula}
                       required/>
              </div>

              <div class="w-[20%]">
                <label for="age" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edad del Paciente:</label>
                <input type="text" id="age" name="age"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       value={data.edad}
                       required/>
              </div>

              <div class="w-[20%]">
                <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento del
                  Paciente:</label>
                <input type="date" id="date" name="date"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       required
                />
              </div>

              <div class="w-[20%]">
                <label for="direction" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direccion del
                  Paciente:</label>
                <input type="text" id="direction" name="direction"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       value={data.direccion}
                       required/>
              </div>

              <div class="w-[20%]">
                <label for="allergy" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alergia al Medicamento:</label>
                <input type="text" id="allergy" name="allergy"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       value={data.alergia_medicamento}
                       required/>
              </div>

              <div class="w-[20%]">
                <label for="diagnosis" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Diagnóstico:</label>
                <textarea id="diagnosis" name="diagnosis"
                          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                          required>{data.diagnostico}</textarea>
              </div>

              <div class="w-[20%]">
                <label for="treatment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tratamiento:</label>
                <textarea id="treatment" name="treatment"
                          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                          required>{data.tratamiento}</textarea>
              </div>

              <button type="submit"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Agregar Paciente
              </button>
            </form>
          </div>
        )
        : (
          <div class="text-center text-red-500 mt-10">
            <p class="text-4xl font-bold">Paciente no encontrado</p>
          </div>
        )
    }
  </main>
</Layout>

<div class="hidden" id="hidden">
  {fechaFormateada}
</div>

<div class="hidden" id="hiddenCedula">
  {data.id}
</div>

<script>
  const myDateInput = document.getElementById('date')
  const oldValue = document.querySelector('#hidden').innerHTML
  const date = new Date(oldValue)
  myDateInput.value = date.toISOString().substring(0, 10)

  const $form = document.getElementById('patientForm')

  $form.addEventListener('submit', async (e) => {
    e.preventDefault()

    const data = Object.fromEntries(new FormData(e.target))
    console.log(data)

    const dataPOST = {
      id: Number(document.querySelector('#hiddenCedula').innerHTML),
      nombre: data.name,
      apellido: data.surname,
      cedula: data.dni,
      edad: Number(data.age),
      fecha_nacimiento: data.date,
      direccion: data.direction,
      alergia_medicamento: data.allergy,
      diagnostico: data.diagnosis,
      tratamiento: data.treatment,
    }

    const response = await fetch('http://localhost:4321/api/pacient-search.json', {
      method: 'PUT',
      body: JSON.stringify(dataPOST),
      headers: {
        'Content-Type': 'application/json',
      },
    })

    if (!response.ok) {
      console.log(await response.json())
      return
    }

    console.log(await response.json())
    alert('Se ha editado el paciente correctamente')
    window.location.reload()
  })

</script>
